python-dotenv==1.0.1
fastapi==0.112.1
uvicorn==0.30.6
pydantic==2.8.2
pydantic-core==2.20.1
pydantic-extra-types==2.9.0
pydantic-settings==2.4.0
pydantic[email]==2.8.2
PyJWT==2.9.0
python-jose==3.4.0
python-multipart==0.0.8
passlib==1.7.4
bcrypt==3.2.2
psycopg2-binary==2.9.9
asyncpg==0.29.0
cryptography==43.0.1
requests
phonenumbers==8.13.47
pytz==2024.2
apscheduler
firebase-admin==6.5.0
